{% set currentlocale = app.request.locale %}

<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
    <div class="container">
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined">
        <span class="sr-only">
          {%- trans from 'messages' into currentlocale -%}
            nav.toggle
          {%- endtrans -%}
        </span>
        <i class="fa fa-align-justify"></i>
      </button>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">
              {%- trans from 'menus' into currentlocale -%}
                product.our
              {%- endtrans -%}
              <b class="caret"></b>
            </a>
            {%- include 'dropdowns/menu.html.twig' with { 'options': {
              'menu.all': path('list_products'),
              'menu.memory': path('list_memories')
              }} only -%}
            {#
              'Processor': path('list_product_type', { '_locale': currentlocale, 'type': 'processors' }),
              'Graphic Card': path('list_product_type', { '_locale': currentlocale, 'type': 'graphicaccelerators' }),
              'Hard Drive': path('list_product_type', { '_locale': currentlocale, 'type': 'harddrives' })
            #}
          </li>
          <li class="nav-item">
          <a href="{{ path('about') }}">
            {%- trans from 'menus' into currentlocale -%}
              about.us
            {%- endtrans -%}
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>