<div class="top-bar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-md-block d-none">
        Contact us on <a href="tel:1800555333">>+1 800 555-333</a> or <a href="mailto:somethingsomething@phpsymfonyelectronicsstore.com">somethingsomething@phpsymfonyelectronicsstore.com</a>.
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-md-end justify-content-between">
          <ul class="list-inline contact-info d-block d-md-none">
            <li class="list-inline-item"><a href="tel:1800555333"><i class="fa fa-phone"></i></a></li>
            <li class="list-inline-item"><a href="mailto:somethingsomething@phpsymfonyelectronicsstore.com"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="login">
            <a href="#" data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span></a>
          </div>
          <!-- Not functionnal yet -->
          <ul class="social-custom list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>