{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    about.us
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with { current: 'about.us', items: { } } only -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      <div class="col-md-3">
        {%- include 'side-panels/about.html.twig' only -%}
      </div>
      <div class="col">
        <section id="who-are-we">
          <h2>
            {%- trans from 'about' into currentlocale -%}
              who.are.we
            {%- endtrans -%}
          </h2>
          <p>
            {%- trans from 'about' into currentlocale -%}
              lorem.paragraph.one
            {%- endtrans -%}
          </p>
          <p>
            {%- trans from 'about' into currentlocale -%}
              lorem.paragraph.two
            {%- endtrans -%}
          </p>
          <p>
            {%- trans from 'about' into currentlocale -%}
              lorem.paragraph.three
            {%- endtrans -%}
          </p>
        </section>
        <section id="our-policies">
          <h2>
            {%- trans from 'about' into currentlocale -%}
              policies.our
            {%- endtrans -%}
          </h2>
          <ul>
            <li>
              {%- trans from 'about' into currentlocale -%}
                lorem.sentence.one
              {%- endtrans -%}
            </li>
            <li>
              {%- trans from 'about' into currentlocale -%}
                lorem.sentence.two
              {%- endtrans -%}
            </li>
            <li>
              {%- trans from 'about' into currentlocale -%}
                lorem.sentence.three
              {%- endtrans -%}
            </li>
            <li>
              {%- trans from 'about' into currentlocale -%}
                lorem.sentence.four
              {%- endtrans -%}
            </li>
            <li>
              {%- trans from 'about' into currentlocale -%}
                lorem.sentence.five
              {%- endtrans -%}
            </li>
          </ul>
        </section>
        <section id="contact-us">
          <h2>
            {%- trans from 'about' into currentlocale -%}
              contact.us
            {%- endtrans -%}
          </h2>
          <ul>
            <li>
              {%- trans with {
                '%phone%': "<a href=\"tel:#{ contactphone }\">#{ contactphone }</a>"
              } from 'about' into currentlocale -%}
                phone.our
              {%- endtrans -%}
            </li>
            <li>
              {%- trans with {
                '%mail%': "<a href=\"mailto:#{ contactmail }\">#{ contactmail }</a>"
              } from 'about' into currentlocale -%}
                email.our
              {%- endtrans -%}
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
{%- endblock %}
