{% extends 'order-showing-base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    billing
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'billing',
    items: { }
  } only -%}
{%- endblock %}

{% block sidebar -%}
  <form action="{{ path('order_cart_post') }}" method="post">
    <button type="submit">order.order</button>
  </form>
{%- endblock %}
