{% extends 'base.html.twig' %}

{% block body -%}
  <div class="container">
  
    <div class="row bar">
      <div id="order-summary" class="col box mt-0 mb-4 p-0">
        <div class="box-header mt-0 mb-0">
          <div class="row">
            <h3>order.summary</h3>
          </div>
          {%- block sidebar -%}{%- endblock -%}
        </div>
        {%- include 'snippets/order-details.html.twig' with { order: order } only -%}
      </div>
    </div>
  </div>
{%- endblock %}
