{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    order.listing
  {%- endtrans -%}
{%- endblock %}

{%- block scripts %}
  <script defer src="{{ asset('vendor/moment.js/moment-with-locales.js') }}"></script>
  <script defer src="{{ asset('js/moment-initialize.js') }}"></script>
{% endblock -%}

{% block heading -%}
  {%- if admin -%}
    {%- include 'snippets/heading.html.twig' with {
      current: 'order.listing.admin',
      items: { 'admin': path('show_admin_menu') }
    } only -%}
  {%- else -%}
    {%- include 'snippets/heading.html.twig' with {
      current: 'order.listing',
      items: { }
    } only -%}
  {%- endif -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      <div class="col">
        {%- include 'snippets/orders-listing.html.twig' with { orders: orders, admin: admin } only -%}
      </div>
    </div>
  </div>
{%- endblock %}
