{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    order.listing
  {%- endtrans -%}
{%- endblock %}

{%- block scripts %}
  <script defer src="{{ asset('vendor/moment.js/moment-with-locales.js') }}"></script>
  <script defer src="{{ asset('js/moment-initialize.js') }}"></script>
{% endblock -%}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'order.listing',
    items: { }
  } only -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      <div class="col">
        {%- include 'snippets/orders-listing.html.twig' with { orders: orders } only -%}
      </div>
    </div>
  </div>
{%- endblock %}
