{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    registration.email.check
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'registration.email.check',
    items: { }
  } only -%}
{%- endblock %}

{% block fos_user_content -%}
  <p>{{ 'registration.check_email' | trans({'%email%': user.email}) }}</p>
{%- endblock fos_user_content %}
