{% extends 'modals/base.html.twig' %}

{% block modalid -%}add-done-modal{%- endblock %}

{% block body -%}
  {%- trans with {
    '%item%': item.translate(currentlocale).name
  } from 'messages' into currentlocale -%}
    cart.add.done.long
  {%- endtrans -%}
{%- endblock %}

{% block footer -%}
  <button data-dismiss="modal" class="btn">
    {%- trans from 'messages' into currentlocale -%}
      modal.close
    {%- endtrans -%}
  </button>
{%- endblock %}
