{% extends 'modals/base.html.twig' %}

{% block modalid -%}add-failed-modal{%- endblock %}

{% block body -%}
  {%- trans with {
    item: product.name(currentlocale)
  } from 'messages' into currentlocale -%}
    cart.add.failed.long
  {%- endtrans -%}
{%- endblock %}

{% block footer -%}
  <button data-dismiss="modal" class="btn">
    {%- trans from 'messages' into currentlocale -%}
      modal.close
    {%- endtrans -%}
  </button>
{%- endblock %}
