{% extends 'modals/base.html.twig' %}

{% block modalid -%}loading-modal{%- endblock %}
{% block tabindex -%}-1{%- endblock %}

{% block title -%}
  <h4 id="login-modal" class="modal-title">
    {%- block title_ -%}{%- endblock -%}
  </h4>
{%- endblock %}

{% block body -%}
  <div class="loader"></div>
{%- endblock %}
