{% extends 'side-panels/base.html.twig' %}

{% block title -%}
  {%- trans from 'messages' into currentlocale -%}
    menu
  {%- endtrans -%}
{%- endblock %}

{% block body -%}
  <ul class="nav nav-pills flex-column text-sm">
    <li class="nav-item">
      <a href="#who-are-we" class="nav-link">
        {%- trans from 'about' into currentlocale -%}
          who.are.we
        {%- endtrans -%}
      </a>
    </li>
    <li class="nav-item">
      <a href="#our-policies" class="nav-link">
        {%- trans from 'about' into currentlocale -%}
          policies.our
        {%- endtrans -%}
      </a>
    </li>
    <li class="nav-item">
      <a href="#contact-us" class="nav-link">
        {%- trans from 'about' into currentlocale -%}
          contact.us
        {%- endtrans -%}
      </a>
    </li>
  </ul>
{%- endblock %}
